<div class="display">
  <h1>Let's craft your Story</h1>
  <h2>Questionnaire:</h2>
  <input id="ajax" type="button" value="Ajax it"/>

  <h3>I. Customer Background</h3>
  <div class="question1">
    1. Who is your customer?
    <div class="box">
      <textarea id="Q1" type="text">SHI</textarea>
    <div>
  </div>
  <div class="question2">
    2. What does your customer do? (Company size, Annual Revenue, Industry, Primary products)
    <div class="box">
      <textarea id="Q2" type="text">SHI is a global provider of information technology products and services.</textarea>
    </div>
  </div>

  <h3>II. Business Problem</h3
  <div class="question3">
    3. What challenges in the business or industry influenced your customer to look for a solution?
    <div class="box">
      <textarea id="Q3" type="text">As experts in volume licensing, SHI recognized the shifting landscape of software licensing and sought a solution that would help customers ease into the cloud through amore streamlined and flexible buying process.</textarea>
    </div>
  </div>
  <div class="question4">
    4. What were some of the ways you struggled as a result of this challenge? Can you quantify it?
    <div class="box">
      <textarea id="Q4" type="text">“Previous licensing models required multiple tools and agreements,” says Adam Aleksiuk, Homer Operations Manager at SHI.</textarea>
    </div>
  </div>

  <h3>III. Selection Criteria</h3>
  <div class="question5">
    5. What criteria did the customer have in mind for a solution?
    <div class="box">
      <textarea id="Q5" type="text">SHI sought a solution that would help customers ease into the cloud through a more streamlined and flexible buying process.</textarea>
    </div>
  </div>
  <div class="question6">
    6. Why did the customer choose your firm over the competitors?
    <div class="box">
      <textarea id="Q6" type="text">The HPSA offers customers flexibility as they move to the cloud, helping them quickly add, remove, and transfer licenses at any time as their needs change.</textarea>
    </div>
  </div>

  <h3>IV. Product & Solution</h3>
  <div class="question7">
    7. Describe any relevant product/implementation details.
    <div class="box">
      <textarea id="Q7" type="text">SHI used the HPSA to help a large construction company navigate a 2,000-seat purchase that included Homer</textarea>
    </div>
  </div>

  <div class="question8">
    8. What is the product?
    <div class="box">
      <textarea id="Q8" type="text">Homer Products and Services Agreement (HPSA), the next generation of licensing that offers a single agreement for both online and on-premises solutions.</textarea>
    </div>
  </div>
  <div class="question9">
    9. Share your product/solution value proposition and positioning statement.
    <div class="box">
      <textarea id="Q9" type="text">“The HPSA offers simple, flexible licensing where online services can be purchased and managed in one place. It makes our lives and our customers’ lives easier,” says Blake Gollnick, Director of Homer Licensing at SHI.</textarea>
    </div>
  </div>

  <h3>V. Results and Benefits</h3>
  <div class="question10">
    10. Please choose upto 3 of the following business metrics and quantify the “before” and “after” values. (Approximations are okay)
    <div class="box">
      <textarea id="Q10" type="text">With a faster signing process, the HPSA helped SHI boost sales process efficiency by 20 percent, lowering the cost of sale and improving the customer experience.</textarea>
    </div>
  </div>
  <div class="question11">
    11. Share upto 2 testimonials of the customer with their name and job titles about this solution.
    <div class="box">
      <textarea id="Q11" type="text">"The HPSA is more automated than previous licensing options, helping us conduct business faster,” says Heather Sheridan, Senior Manager and Licensing Project Manager at SHI. “It’s been hugely beneficial because we don’t have to increase resources to handle greater volume."</textarea>
    </div>
  </div>
  <div class="question12">
    12. Share upto 2 testimonials of your company/team leadership with their name and job titles about this solution.
    <div class="box">
      <textarea id="Q12" type="text">The HPSA management portal provides a single view of purchases. “We see what the customers see,” says Sheridan. “We have similar walkthrough experiences, making it easier to guide customers and provide excellent service.”</textarea>
    </div>
  </div>

  <!-- Select a template dropdown menu -->
  <h4>Select a Template theme</h4>
  <div>
    <select id="template-selection">
      <option value="water">Water (swimmer scenario)</option>
      <option value="shootout">Shootout (wild west scenario)</option>
    </select>
  </div>
  <hr>
  <br>
  <div class="button">
    <div class="box">
      <input class="button-submit" type="button" value="Submit"/>
    </div>
  </div>
  <div class="text-preview">
    <textarea id="output">No output</textarea>
    <input id="play" type='button' value='🔊 Play it' />
  </div>
</div>

<div class="testing-box">
  <h3>Testing Box</h3>
  <h5>Data Selection:</h5>
    <div>
      <select id="data-selection">
        <option value="SHI">SHI</option>
        <option value="Raven + Lily">Raven + Lily</option>
      </select>
      <input id="changeData" type="button" value="Submit to change the data"/>
    </div>
  <h5>Graph:</h5>
  <div id="placeholder"></div>
<!--   <div class="button">
      <input id="graph-it-button" type="button" value="Plot the emotions of the Story"/>
  </div> -->
  <input class="button-submit" type="button" value="Submit"/>
  <div class="test-out">
    <div id="gist">
    </div>
  </div>
</div>
