<div class="display">
  <h1>Let's craft your Story</h1>
  <h2>Questionnaire:</h2>

  <!-- Select a template dropdown menu -->
  <h4>Select a Template theme</h4>
  <div>
    <select id="template-selection">
      <option value="water">Water (swimmer scenario)</option>
      <option value="shootout">Shootout (wild west scenario)</option>
    </select>
  </div>
  <hr>
  <br>

  <h3>I. Customer Background</h3>
  <div class="question1">
    1. Who is your customer?
    <div class="box">
      <textarea id="Q1" type="text"></textarea>
      <input class="context" id='cq1' type="button" value="Show Context"/>
    <div>
  </div>
  <div class="question2">
    2. What does your customer do? (Company size, Annual Revenue, Industry, Primary products)
    <div class="box">
      <textarea id="Q2" type="text">
      </textarea>
      <input class="context" id='cq2' type="button" value="Show Context"/>
    </div>
  </div>

  <h3>II. Business Problem</h3
  <div class="question3">
    3. What challenges in the business or industry influenced your customer to look for a solution?
    <div class="box">
      <textarea id="Q3" type="text"></textarea>
      <input class="context" id='cq3' type="button" value="Show Context"/>
    </div>
  </div>
  <div class="question4">
    4. What were some of the ways you struggled as a result of this challenge? Can you quantify it?
    <div class="box">
      <textarea id="Q4" type="text"></textarea>
      <input class="context" id='cq4' type="button" value="Show Context"/>
    </div>
  </div>

  <h3>III. Selection Criteria</h3>
  <div class="question5">
    5. What criteria did the customer have in mind for a solution?
    <div class="box">
      <textarea id="Q5" type="text"></textarea>
      <input class="context" id='cq5' type="button" value="Show Context"/>
    </div>
  </div>
  <div class="question6">
    6. Why did the customer choose your firm over the competitors?
    <div class="box">
      <textarea id="Q6" type="text"></textarea>
      <input class="context" id='cq6' type="button" value="Show Context"/>
    </div>
  </div>

  <h3>IV. Product & Solution</h3>
  <div class="question7">
    7. Describe any relevant product/implementation details.
    <div class="box">
      <textarea id="Q7" type="text"></textarea>
      <input class="context" id='cq7' type="button" value="Show Context"/>
    </div>
  </div>

  <div class="question8">
    8. What is the product?
    <div class="box">
      <textarea id="Q8" type="text"></textarea>
      <input class="context" id='cq8' type="button" value="Show Context"/>
    </div>
  </div>
  <div class="question9">
    9. Share your product/solution value proposition and positioning statement.
    <div class="box">
      <textarea id="Q9" type="text"></textarea>
      <input class="context" id='cq9' type="button" value="Show Context"/>
    </div>
  </div>

  <h3>V. Results and Benefits</h3>
  <div class="question10">
    10. Please choose upto 3 of the following business metrics and quantify the “before” and “after” values. (Approximations are okay)
    <div class="box">
      <textarea id="Q10" type="text"></textarea>
      <input class="context" id='cq10' type="button" value="Show Context"/>
    </div>
  </div>
  <div class="question11">
    11. Share upto 2 testimonials of the customer with their name and job titles about this solution.
    <div class="box">
      <textarea id="Q11" type="text"></textarea>
      <input class="context" id='cq11' type="button" value="Show Context"/>
    </div>
  </div>
  <div class="question12">
    12. Share upto 2 testimonials of your company/team leadership with their name and job titles about this solution.
    <div class="box">
      <textarea id="Q12" type="text"></textarea>
      <input class="context" id='cq12' type="button" value="Show Context"/>
    </div>
  </div>


  <div class="button">
    <div class="box">
      <input class="button-submit" type="button" value="Submit"/>
    </div>
  </div>
  <div class="test-out">
    <textarea id="story-preview"></textarea>
    <input id="play" type='button' value='🔊 Play it' />
  </div>
</div>

<div class="testing-box">
  <h3>Testing Box</h3>
  <h5>Data Selection:</h5>
    <div>
      <select id="data-selection">
        <option value="SHI">SHI</option>
        <option value="Raven + Lily">Raven + Lily</option>
      </select>
      <input id="changeData" type="button" value="Submit to change the data"/>
    </div>
  <h5>Graph:</h5>
  <div id="placeholder"></div>
  <input class="button-submit" type="button" value="Submit"/>
  <div class="test-out">
    <div id="gist">
    </div>
    <div id="context-box">
    <div>
  </div>
</div>
